name: Action Docs

on: push

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: npalm/action-docs-action@v1.4.0
      - name: Assert there are no changes in README.me
        run: |
          git diff --exit-code
